body {
  max-width: 786px;
  background-color: #caccd1;
  box-shadow: -30px 30px 70px #414142;
  margin-bottom: 2em;
  font-size: 16px !important;
  font-family: 'Roboto', sans-serif; }
  body #primaryImg {
    content: url(/content/img/profile2.jpg); }
  body a {
    text-decoration: none !important; }
  body .f1 {
    font-size: 1.7em !important; }
  body .f2 {
    font-size: 1em !important;
    font-weight: 600; }
  body .f3 {
    font-size: 0.8em !important; }
  body .f4 {
    font-size: 0.7em !important; }
  body .heading-img {
    width: 150px;
    height: 150px; }
  body .fl-right {
    float: right; }
  body .transform-upper {
    text-transform: uppercase; }
  body .letter-spacing {
    letter-spacing: 0.3em; }
  body .secondary-text {
    color: #a7acb7; }
  body .ta-left {
    text-align: left; }
  body .ta-center {
    text-align: center; }
  body .ta-justify {
    text-align: justify; }
  body nav.navbar {
    background-color: #383a3d; }
    body nav.navbar .navbar-container {
      font: sans-serif;
      text-align: center;
      color: white; }
      body nav.navbar .navbar-container .navbar-brand {
        background-color: #383a3d; }
      body nav.navbar .navbar-container .navbar-brand-title {
        border-color: #a7acb7 !important; }
        body nav.navbar .navbar-container .navbar-brand-title .brand-title-primary {
          /*font-size: 1.8em;*/
          display: block;
          line-height: 1.2em; }
        body nav.navbar .navbar-container .navbar-brand-title .brand-title-secondary {
          line-height: 1.2em; }
  body .bg-color1 {
    background-color: #b7b7b7 !important; }
    body .bg-color1 .left-panel-section {
      padding-bottom: 25px; }
      body .bg-color1 .left-panel-section .intro-tab-content {
        margin: 0; }
      body .bg-color1 .left-panel-section .main-heading {
        padding-bottom: 15px;
        display: block;
        font-weight: 700; }
      body .bg-color1 .left-panel-section .resume-icon {
        text-align: center;
        border: 1px solid black;
        border-radius: 20%;
        height: 3em;
        width: 3em;
        padding: 0; }
        body .bg-color1 .left-panel-section .resume-icon i {
          padding-top: 5px; }
        body .bg-color1 .left-panel-section .resume-icon span {
          display: block;
          position: relative;
          top: -3px; }
    body .bg-color1 .social-tab a {
      color: black; }
      body .bg-color1 .social-tab a .border-icon {
        border: 1px solid black;
        height: 30px;
        width: 30px;
        border-radius: 30px;
        text-align: center;
        padding-top: 7px; }
    body .bg-color1 .hobby-icon {
      text-align: center;
      border: 1px solid black;
      border-radius: 100%;
      height: 3.5em;
      width: 3.5em;
      padding: 0; }
      body .bg-color1 .hobby-icon i {
        padding-top: 5px;
        /*font-size: 1.10em;*/ }
      body .bg-color1 .hobby-icon span {
        /*font-size: 0.55em;*/
        display: block;
        position: relative;
        top: -3px; }
    body .bg-color1 .work-skills .skill-name {
      text-align: left;
      display: inline-block;
      width: 30%; }
    body .bg-color1 .work-skills .skill-level {
      padding-left: 0;
      text-align: center;
      width: 65%;
      display: inline-block; }
    body .bg-color1 .work-skills ul.skill-dots {
      font-size: 0.9em;
      /*padding-top: 3px;*/ }
      body .bg-color1 .work-skills ul.skill-dots li {
        display: inline; }
  body .work-ex {
    background-color: #e8e1e1 !important; }
    body .work-ex .right-panel-section {
      padding-bottom: 25px; }
      body .work-ex .right-panel-section .right-side-heading {
        margin-bottom: 20px;
        display: inline-block; }
      body .work-ex .right-panel-section .work-ex-items {
        border-left: 2px solid #d6cfcf; }
        body .work-ex .right-panel-section .work-ex-items .work-ex-item {
          position: relative;
          top: -1.8em; }
          body .work-ex .right-panel-section .work-ex-items .work-ex-item .timeline-bubble {
            position: relative;
            left: -1.8rem !important;
            top: 1.1rem !important;
            font-size: 0.5em !important; }
          body .work-ex .right-panel-section .work-ex-items .work-ex-item .work-ex-heading {
            line-height: 1.2em; }

@media only screen and (max-width: 360px) {
  body {
    font-size: 18px !important;
    margin-bottom: 0; }
  .f1 {
    font-size: 1.3em !important; }
  .f2 {
    font-size: 0.9em !important;
    font-weight: 600; }
  .f3 {
    font-size: 0.9em !important; }
  .f4 {
    font-size: 0.8em !important; }
  .heading-img {
    width: 80px;
    height: 80px; }
  .skill-name {
    text-align: left;
    display: inline-block;
    width: 20%; }
  .skill-level {
    padding-left: 0;
    text-align: center;
    width: 75%;
    display: inline-block; } }

@media only screen and (max-width: 786px) {
  body {
    margin-bottom: 0; } }

