<nav class="navbar">
    <div class="container-fluid navbar-container justify-content-center px-0 py-4">
        <div class="col-12 col-sm-5 navbar-brand d-block px-0 mx-0 ">
            <div>
                <img id="primaryImg" class="heading-img rounded-circle" alt="">
            </div>
        </div>
        <div class="col-sm-7 px-0">
            <div class="col-12 navbar-title transform-upper mt-2 px-1">
                <div class="border navbar-brand-title">
                    <span class="f1 mb-0 mt-3 letter-spacing brand-title-primary">Deepak Kumar</span>
                    <span class="f2 mb-3 d-block secondary-text letter-spacing brand-title-secondary">Web Developer</span>
                </div>
            </div>
            <div class="f3 row my-2 px-0">
                <div class="col-12 col-sm-3 px-0">
                    <a href="tel: +61431568663" class="secondary-text"><i class="fa fa-phone"></i> 043156 8663</a>
                </div>
                <div class="col-12 col-sm-5 px-0">
                    <a href="mailto: deepaknasa@gmail.com" class="secondary-text"><i class="fa fa-envelope"></i> deepaknasa@gmail.com</a>
                </div>
                <div class="col-12 col-sm-4 px-0">
                    <a href="http://deepakkumar.tech" class="secondary-text"><i class="fa fa-globe"></i> deepakkumar.tech</a>
                </div>
            </div>
        </div>
    </div>
</nav>