<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>www.deepakkumar.tech</title>
    <link rel="icon" href="~/fav/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="~/fav/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="~/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/fav/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/fav/favicon-16x16.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
</head>
<body class="mx-auto">
    @RenderBody()
    <script type="text/javascript" src="js/vendor/jquery-slim.min.js"></script>
    <script type="text/javascript" src="js/vendor/jquery.tmpl.js"></script>
    <script type="text/javascript" src="js/dynamicData.js"></script>
    <script type="text/javascript" src="js/vendor/popper.min.js"></script>
    <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
