<!DOCTYPE html>
<html>
<head>
    @{
        var hostUrl = $"{Context.Request.Scheme}://{Context.Request.Host}";
    }
    <base href="/"/>
    <meta charset="utf-8">
    <title>www.deepakkumar.tech</title>
    <link rel="icon" href="@hostUrl/assets/fav/favicon.ico?v=1" type="image/x-icon">
    <link rel="shortcut icon" href="@hostUrl/assets/fav/favicon.ico?v=1" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/assets/css/vendor/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
</head>
<body class="mx-auto">
    @RenderBody()
    <script type="text/javascript" src="~/app.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
